@import "tailwindcss";

@theme {
  --color-pod-bg: #0a0a0a;
  --color-pod-surface: #161616;
  --color-pod-border: #2a2a2a;
  --color-pod-accent: #e8935f;
}

@layer base {
  html, body, #root {
    @apply m-0 min-h-screen min-w-80;
  }

  body {
    @apply bg-zinc-950;
  }
}
